[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
openai = "*"
python-dotenv = "*"
sse-starlette = "*"
sqlalchemy = "*"
alembic = "*"
psycopg2-binary = "*"
fastapi = {extras = ["all"], version = "*"}
exceptiongroup = "*"
haversine = "*"
googlemaps = "*"
sentry-sdk = {extras = ["fastapi"], version = "*"}
sqlalchemy-utils = "*"
cryptography = "*"
python-jose = {extras = ["cryptography"], version = "*"}
python-multipart = "*"

[dev-packages]
pytest = "*"
pytest-asyncio = "*"
httpx = "*"

[requires]
python_version = "3.9"
