[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
openai = "*"
python-dotenv = "*"
sse-starlette = "*"
sqlalchemy = "*"
alembic = "*"
psycopg2-binary = "*"
fastapi = {extras = ["all"], version = "*"}
exceptiongroup = "*"
haversine = "*"
googlemaps = "*"
sentry-sdk = {extras = ["fastapi"], version = "*"}

[dev-packages]

[requires]
python_version = "3.13"
