[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
openai = "*"
python-dotenv = "*"
fastapi = "*"
sse-starlette = "*"
sqlmodel = "*"
psycopg2-binary = "*"
sqlalchemy = "*"
alembic = "*"

[dev-packages]

[requires]
python_version = "3.*"
